body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #000;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  #haveFun {
    position: fixed;
    top: 150px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
}

#haveFun h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 5px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  #centerImage {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
   }